#about {
    padding: 0;
    display: block;
    background-color: #314157;
    text-align: left;
    color: #fff;
}

#about > div {
    display: flex;
}
#about .half {
    display: flex;
    position: relative;
}

#about .half:first-of-type {
    flex: 2;
}

#about .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left, center center, bottom center;
    background-image: url(../img/new-residents.jpg);
}

#about .half:last-of-type {
    flex: 3;
}

#about .half img {
    display: none;
    width: 100%;
    height: 100%;
}


#about .container {
    padding: 4rem;
    margin: auto 0;
}

#about .container p {
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
}

#about .container article {
    padding: 0 0 0 1rem;
    border-left: solid 1px #fff;
}